<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:annotation-config />
	
	<!-- SPRING imports -->
    <import resource="classpath:br/com/saproweb/infra/hibernate/spring/HibernateSessionFactory.xml" />
	<import resource="classpath:br/com/saproweb/infra/resources/DataSource.xml" />
	<import resource="classpath:br/com/saproweb/infra/resources/spring-security.xml" />

	<!-- SPRING mappings -->
	<context:component-scan base-package="br.com.saproweb.sistema.dominio.entidades"/>
	
	<context:component-scan base-package="br.com.saproweb.sistema.dao"/>
	<context:component-scan base-package="br.com.saproweb.sistema.dominio.service"/>
	<context:component-scan base-package="br.com.saproweb.sistema.controller"/>
	
	<!-- View scope -->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="br.com.saproweb.utils.scope.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>
	
</beans>