.ui-widget {
	font-size: 11px !important;
}

.ui-widget-header {
	background: #333;
}

.ui-tabs {
	background: none !important;
}

.ui-paginator {
	background: none !important;
	border: none !important;
}

.ui-paginator-current {
	color: #333 !important;
}

.ui-paginator-rpp-options {
	border: 1px solid #DCDCDC;
}

.ui-paginator-top {
	display: none;
}

.ui-paginator-bottom {
	padding: 10px 0 0 0 !important;
}