* {
	padding: 0;
	margin: 0;	
	border: 0;
	outline: none;
}

.plataforma {
	display: block; 
	oveflow: hidden;
	clear: both;
}

.vertical_middle {
	height: 100%; 
	display: inline-block; 
	vertical-align: middle;
}

html,body { 
	height: 100%;	
}

body {	
	background-image: url("/images/background.png") ;
}

#all {
	min-height: 100%;
	position: relative;
}

#page {
	margin: 0 auto;
	width: 1000px;
}

#header {
	height: 150px;
	top: 0;
}

#content {
	border-top: 3px solid #839EBF;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#content #left {
	float: left;
	width: 199px;
	height: 700px;
	background: #424548;
	border-right: 1px solid #555;
	border-top-left-radius: 3px;
}

#content #right {
	float: right;
	width: 800px;
	background: #FCFCFC;
	border-top-right-radius: 3px;
}

#clear {
	min-height: 70px;
}

#footer {
	position: absolute;	
	height: 50px;
	bottom: 0;
}

#cursos,
#disciplinas {
	width: 740px;
	margin: 0 auto;
}

#cursos #topo,
#disciplinas #topo {
	margin-top: 20px;
}

#cursos #topo #titulo,
#disciplinas #topo #titulo {
	float: left; 
	width: 550px;
}

#cursos #topo #titulo .titulo,
#disciplinas #topo #titulo .titulo {
	color: #446591; 
	font-size: 1.9em;
	font-weight: bold;
}

#cursos #topo #titulo .sub_titulo,
#disciplinas #topo #titulo .sub_titulo {
	color: #777;
}

#cursos #topo #imagem,
#disciplinas #topo #imagem {
	float: right; 
	width: 150px;
}

#cursos #topo #imagem .imagem,
#disciplinas #topo #imagem .imagem {
	float: right; 
	width: 100px;
}

#disciplinas .disciplinas_table {
	width: 740px;
}

#cursos #fundo,
#disciplinas #fundo {
	height: 30px;
}