* {
	padding: 0;
	margin: 0;	
	border: 0;
	outline: none;
}

.plataforma {
	display: block; 
	oveflow: hidden;
	clear: both;
}

.vertical_middle {
	height: 100%; 
	display: inline-block; 
	vertical-align: middle;
}

.botao {
	height: 40px;
}

.botao span {
	font-size: 1.3em;
}

.mensagem {
	height: 30px;
}

.ajax_loader {
	float: left;
	display: none;
	margin-left: 10px;
}

html,body { 
	height: 100%;	
}

body {	
	background-image: url("/images/background.png") ;
}

#all {
	min-height: 100%;
	position: relative;
}

#top {	
	height: 25px;
	background-color: #333;
	background-image: url("/images/top_fundo.png");
	text-align: middle;
}

#page {
	margin: 0 auto;
	width: 1000px;
}

#header {
	height: 150px;
	top: 0;
}

#content {
	border-top: 3px solid #839EBF;
	border-bottom: 1px solid #DDD;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #333;
}

#content #left {
	float: left;
	width: 199px;	
	border-right: 1px solid #555;
}

#content #right {
	float: right;
	width: 800px;
	min-height: 700px;
	background: #FCFCFC;	
}

#clear {
	min-height: 70px;
}

#footer {
	position: absolute;	
	height: 50px;
	bottom: 0;
}

#cadastro {
	width: 740px;
	margin: 0 auto;
}

#conteudo {	
	width: 740px;
	margin: 20px auto;
}

#topo #titulo {
	float: left; 
	width: 550px;	
}

#topo #titulo .titulo {
	color: #446591; 
	font-size: 1.9em;
	font-weight: bold;
}

#topo #titulo .sub_titulo {
	color: #777;
}

#topo #imagem {
	float: right; 
	width: 150px;
}

#topo #imagem .imagem {
	float: right; 
	width: 100px;
}

#conteudo #cadastro .div_label {
	float: left;
}

#conteudo #cadastro .div_component {
	float: left;
}

#cadastro .data_table {
	width: 740px;
}

#cadastro #fundo {
	height: 30px;
}